html{
    width: 100%;
    height: 100%;
}
body{
    font-size: 20px;
    color: #fff;
    background-color: #003049;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

}
.section-1{
    margin-top: 20%;
    margin-bottom: 10%;
    
}

.section-1-h2{
    color: #fff;
    font-weight: 700;
    
}
.section-1-btn{
    padding: 15px;
   background-color:   #c1121f;
    color: #003049;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    /* box-shadow: 1px 1px 2px 1px #ececd8; */
}
.section-1-btn:hover{
    color: #c1121f;
    background-color: #ececd8;
    cursor: pointer;
    border: 1.5px solid #003049;
}
.section-2{
    padding-left: 5%;
    padding-right: 5%;
}
.section-2-h3{
    color: #c1121f;
    font-weight: 700;
}
.footer{
    font-size: 15px;
    background-color: #0c608e;
    color: #ececd8;
    padding: 20px;
}
.sm-icons{
    color: #ececd8;
    width: 30px;
    margin-right: 30px;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: #ececd8;
}


@media screen and (min-width:768px){
   
    .section-1{
        margin-top: 10%;
    }
    .section-1-text{
        margin-left: 10%;
        margin-right: 10%;
    }
    .section-1-h2{
        font-size: 2.5rem;
    }
   
    .row{
        margin-bottom: 60px;
    }
}

/* colours
#ececd8-cream
#ff2f4f-pink
#0f2f56-dark-blue */