html{
    width: 100%;
    height: 100%;
}

nav{
    background-color: #080829;
}


body > nav.navbar{
    background: rgba(3, 3, 37, 0.98) !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4); /* added box-shadow */
  
  }
  
  nav.navbar>.container > .collapse> ul > li.nav-item> a.nav-link{
    color: white !important; 
    font-size: large;
  }
  
  nav.navbar>.container > .collapse> ul > li.nav-item.active> a.nav-link{
    color: white !important;
    font-size: large;
    text-decoration: underline red;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
    transition: text-decoration 0.9s ease-in-out;
  }


body{
    font-size: 20px;
    color: #fff;
    background-color: #003049;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

}

.section-1{
    margin-top: 20%;
    margin-bottom: 10%;
    
}

.section-1-h2{
    color: #fff;
    font-weight: 700;
    
}
.section-1-btn{
    padding: 15px;
   background-color:   #c1121f;
    color: #003049;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    /* box-shadow: 1px 1px 2px 1px #ececd8; */
}
.section-1-btn:hover{
    color: #c1121f;
    background-color: #ececd8;
    cursor: pointer;
    border: 1.5px solid #003049;
}
.section-2{
    padding-left: 5%;
    padding-right: 5%;
}
.section-2-h3{
    color: #c1121f;
    font-weight: 700;
}
.footer{
    font-size: 15px;
    background-color: #0c608e;
    color: #ececd8;
    padding: 20px;
}
.sm-icons{
    color: #ececd8;
    width: 30px;
    margin-right: 30px;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: #ececd8;
}


@media screen and (min-width:768px){
   
    .section-1{
        margin-top: 10%;
    }
    .section-1-text{
        margin-left: 10%;
        margin-right: 10%;
    }
    .section-1-h2{
        font-size: 2.5rem;
    }
   
    .row{
        margin-bottom: 60px;
    }
}

footer{
    background-color: #080829;
}


.footer-section:after {
    position: absolute;
    content: '';
    background-color: 0f2f56;
    top: -24%;
    right: 4%;
    width: 26%;
    height: 264%;
    transform: rotate(44deg);
    -webkit-transform: rotate(44deg);
    -moz-transform: rotate(44deg);
    -ms-transform: rotate(44deg);
    -o-transform: rotate(44deg);
    z-index: -10;
  }
  
  .footer-top {
    padding-top: 96px;
    padding-bottom: 50px;
  }
  
  .footer-top p,
  .company-footer-contact-list li {
    color: #ffffff;
  }
  
  .company-footer-contact-list {
    margin-top: 10px;
  }
  
  .company-footer-contact-list li {
    display: flex;
    display: -webkit-flex;
    align-items: center;
  }
  
  .company-footer-contact-list li+li {
    margin-top: 5px;
  }
  
  .company-footer-contact-list li i {
    margin-right: 10px;
    font-size: 20px;
    display: inline-block;
  }
  
  .footer-top .site-logo {
    margin-bottom: 25px;
    display: block;
    max-width: 170px;
  }
  
  .widget-title {
    text-transform: capitalize;
  }
  
  .footer-top .widget-title {
    color: #ffffff;
    margin-bottom: 40px;
  }
  
  .courses-link-list li+li {
    margin-top: 10px;
  }
  
  .courses-link-list li a {
    color: #ffffff;
    text-transform: capitalize;
    font-family: var(--para-font);
    font-weight: 400;
  }
  
  .courses-link-list li a:hover {
    color: #c1121f;
  }
  
  .courses-link-list li i {
    margin-right: 5px;
  }
  
  .footer-top .small-post-title a {
    font-family: var(--para-font);
    color: #ffffff;
    font-weight: 400;
  }
  
  .small-post-item .post-date {
    color: #c1121f;
    margin-bottom: 3px;
    font-family: var(--para-font);
    font-weight: 400;
  }
  
  .small-post-list li+li {
    margin-top: 30px;
  }
  
  .news-letter-form {
    margin-top: 15px;
  }
  
  .news-letter-form input {
    width: 100%;
    padding: 12px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
  }
  
  .news-letter-form input[type="submit"] {
    width: auto;
    border: none;
    background-color: #c1121f;
    padding: 9px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #ffffff;
    margin-top: 10px;
  }
  
  .footer-bottom {
    padding: 13px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.149);
  }
  
  .copy-right-text {
    color: #ffffff;
  }
  
  .copy-right-text a {
    color: #c1121f;
  }
  
  .terms-privacy li+li {
    margin-left: 30px;
  }
  
  .terms-privacy li a {
    color: #ffffff;
    position: relative;
  }
  
  .terms-privacy li a:after {
    position: absolute;
    content: '-';
    color: #ffffff;
    display: inline-block;
    top: 0;
    right: -18px;
  }
  
  .terms-privacy li+li a:after {
    display: none;
  }

/* colours
#ececd8-cream
#ff2f4f-pink
#0f2f56-dark-blue */